html {


    --color-gray-50: rgb(243, 236, 230);
    --color-gray-100: rgb(207, 201, 195);
    --color-gray-300: rgb(155, 155, 155);
    --color-gray-400: rgb(119, 119, 119);
    --color-gray-500: rgb(82, 82, 82);
    --color-gray-600: rgb(66, 66, 66);
    --color-gray-700: rgb(51, 51, 51);
  
    --color-primary-50: rgb(255, 209, 102);
    --color-primary-100: rgb(255, 187, 51);
    --color-primary-200: rgb(255, 166, 0);
    --color-primary-400: rgb(255, 140, 0);
    --color-primary-500: rgb(255, 122, 0);
    --color-primary-700: rgb(255, 105, 0);
    --color-primary-200-contrast: rgb(89, 71, 25);
    --color-primary-500-contrast: rgb(255, 255, 255);
  
    --color-error-100: rgb(255, 128, 128);
    --color-error-500: rgb(255, 0, 0);
  
    --color-primary-500-bg: rgb(45, 45, 45);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

form hr {
  border-color: var(--color-primary-200);
  margin: var(--space-4);
}

label {
  color: var(--color-gray-100);
  display: block;
  margin-bottom: var(--space-2);
}

input,
textarea {
  font: inherit;
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
  border: none;
  width: 90%;
}
