<%- include('../../base/includes/head', { pageTitle: 'Signup' }) %>
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../../base/includes/header') %>
  <main>
    <h1>All products</h1>
    <p>A List of products...</p>

  </main>
<%- include('../../base/includes/footer') %>