<%- include('../../base/includes/head', { pageTitle: 'Product' }) %>
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../../base/includes/header') %>
  <main>
    <h1>Product Administration</h1>
    <section>

      <h2>Product Management</h2>
      <p>
        <a href="/admin/products/new" class="btn">Add Product</a>
      </p>

    </section>


    <section>
      <p>A List of products...</p>
    </section>

  </main>
<%- include('../../base/includes/footer') %>